<div>main app component</div>
<nav>
  <ul>
    <li>
      <a routerLink="/one" routerLinkActive="active">One Link</a>
    </li>

    <li>
      <a routerLink="/one/childa" routerLinkActive="active">ChildLink</a>
    </li>

    <li>
      <a routerLink="/two" routerLinkActive="active">Two Link</a>
    </li>

    <li>
      <a routerLink="/three" routerLinkActive="active">Three Link</a>
    </li>
  </ul>
</nav>

<button type="button" (click)="goTwo()">Go2</button
><button type="button" (click)="goThree()">Go3</button>

<router-outlet></router-outlet>
