h1 {
  font-size: 100px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  color: red;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}
